@model Employee



<tr>
    <th scope="row">@Model.EmpleadoId</th>
    <td>@Model.Nombre @Model.ApellidoPaterno @Model.ApellidoMaterno</td>
    <td>@Model.Email</td>
    <td>@Model.Puesto</td>
    <td>@Model.Rfc</td>
    <td>@Model.FechaAlta.ToString("d")</td>

    <td>
        @Html.ActionLink("Editar","Details", new{id = @Model.EmpleadoId}, new {@class="btn btn-warning"} )
        <button class="btn btn-danger" onclick="DeleteJob()">Delete</button>


    </td>
</tr>


<script>
    function DeleteJob() {
    if (confirm("¿Seguro quieres dar de baja al empleado?"))
        //window.location.href = "/Home/Delete/";
        //window.location.protocol + "//" + window.location.host + Path
        window.location.href = "@Url.Action("Delete", "Home",new{id=@Model.EmpleadoId}) ";
    else
        return false;
}
</script>
